@media (min-width: 1700px) {
   
}
@media (max-width: 1700px) {
    html {
    font-size: 95%!important;
    }
    .navbar {
    top: 55px;
    }
}
@media (max-width: 1600px) {
    html {
    font-size: 90%!important;
    }
    .navbar {
    top: 0px;
    }
}
@media (max-width: 1399px) {
    html {
    font-size: 80%!important;
    }
    
     .unskew__box {
    align-items: flex-end!important;
    }
}
/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {

    html {
    font-size: 70%!important;
    }
    .header__text__box {
    margin-right: 0%;
    }
  /*   .header__text__box{
    margin-left: auto;
} */
}

@media (max-width: 1100px) {

    html {
    font-size: 60%!important;
    }
}
/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
    .nav-item__bordered{
    border-right: 0px solid #d6151d;
    }
    .mini__form{
    display: block;
    }
    .max__form{
    display: none;
    }
    .skew{
        display: none;
    }
    .header__text__box{
        text-align: center;
    }
    .header__text__box__main{
        text-align: center;
        padding: 20% 10%!important;
    }
    .header__page{
        height: 280px;
    }
    .header__page .row{
        height: 100%;
    }
    .header__text__box{
        height: 100%;
        padding: 80px 30px 0!important;
    }
    .logo__box {
    margin-top: -75px;
    margin-bottom: 30px;
    }
    .header__text__box{
    margin: auto;
    }
    .header__text__box__main{
    margin: auto;
    }
    .sticky{
        position: absolute!important;
    }

    .h-100{
        height: auto!important;
        padding-bottom: 1rem;
    }
    .top{
        position: fixed!important;
        top: 0!important;
        z-index: 1001!important;
        display: block!important;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {
    .info__box{
        display: block!important;
    }

}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {

    .header__text__box__main{
        text-align: center;
        padding: 30% 10% 0 10%!important;
    }

}