html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #000000;
}

p{
    font-size: 1.25rem!important;
    text-justify: inter-word;
}

h1{
    font-size:2.75rem;
}
h2{
    font-size:2.25rem;
}
h3{
    font-size:2rem;
}
h4{
    font-size:1.75rem;
}
h5{
    font-size:1.5rem;
}
h6{
    font-size:1.25rem;
}
.h-100{
    height: 100vh!important;
}
.top{
    top: 0!important;
}
.fluid-padding{
    padding-right: 5%!important;
    padding-left: 5%!important;
}
.no__transform{
    text-transform: none;
}
.color__inherit{
    color: inherit;
}
/* Navbar   */
.navbar {
    box-shadow: none;
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: #000;
    z-index: 1001;
}   

.navbar-nav{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
    margin-left: auto;
}
.navbar .bar{
    color: #fff!important;
    font-size: 0.9rem;
}

.navbar-nav .nav-link{
    padding: 0!important;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    letter-spacing: 0.5px;
    font-weight: 300;
    color: #ffffff!important;
    line-height: 1rem;
    text-transform: uppercase;    
    font-size: 0.9rem;
}

.navbar__logo {
    max-width: 100%;
    height: auto;
}

.nav-item__bordered{
    border-right: 1px solid #d6151d;
}

.sticky{
    position: fixed;
    top: 0;
}

/* Header   */

.header__page{
    background: linear-gradient(0deg, #232323, black 50%) no-repeat ;
}
.unskew{
    position: relative;
    transform: skew(-30deg);
    left: -31%;
}

.unskew__box{
    transform: skew(-30deg);
    top: 0;
    /* background: linear-gradient(0deg, #232323, black 50%) no-repeat ; */
    background-image: url('../img/back_form.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
    display: flex;
    align-items: center;
    margin-left: 25%;
    width: 20vw;
    height: 100%;
    padding: 2.5rem;
    padding-bottom: .5rem;
}

.skew {
    transform: skew(30deg);
    right: -15%;
    overflow: hidden;
    border-left: 10px solid red;
}

.header__gradient{
    align-items: center;
    display: flex;
}
.header__text__box{
    text-transform: uppercase;
    color: #fff;
    margin-left: auto;
    padding: 10% 10% 0!important;
    margin-right: -18%;
}

.btn__text__box{
    border: 1px solid #ffffff;
    background-color: #000000;
}

.btn__text__box:hover{
    color: #d6151d;
    border: 1px solid #d6151d;
}

.header__text__box h1, h3{
    font-weight: 700;
}

.header__text__box h2{
    font-weight: 400;
}

.color__red{
    color: #d6151d;
}

.form-control{
    border-radius: 0px;
    font-size: 0.8rem;
    font-weight: 500;
    height: calc(1.75rem + 2px);
    border: 0;
}

.form-check-label{
    color: #fff;
}

::placeholder { 
    font-family: Montserrat;
    text-transform: uppercase;
    color: #000;
}


.unskew__box .mt-2{
    margin-top: .75rem!important;
}

.text__form{
   color: #fff;
}

.text__form h4{
    font-weight: 500;
    font-size: 1.5rem;
}

.mini__form{
    display: none;
}

.box__form__mini{
    width: 300px;
    margin: auto;
}


/* fakty   */
main{
    color: #fff;
}
.section__header{
    font-weight: 700;
    text-transform: uppercase;
}

.offer__box{
    margin-top: 2rem;
}

.photo__box{
    height: 80px;
    display: flex;
    align-items: center;
}

.section__header__small{

}

.background__red__smth{
    background-image: url('../img/img__back.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.background__red__smth__2{
    background-image: url('../img/img__back_2.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.movie__box{
    width: 100%;
    display: flex;
    align-items: center;
}


.price__box{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #272524;
    width: 100%;
    text-align: center;
    height: 100%;
}

.price__box__title{
    background-color: #d6151d;
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
}

.more__small{
    font-size: 50%!important;
    text-transform: lowercase;
}

.content{
    padding: .5rem;
    display: inline-grid;
    align-items: center;
    height: 80%;
}

.upper{
    text-transform: uppercase;
}

.logo__box{
    margin-top: -50px;
    margin-bottom: 50px;
}

.footer__box{
    margin-right: -40%;
}



.form-check-input[type=checkbox]:checked+label:before, label.btn input[type=checkbox]:checked+label:before {
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid #d6151d;
    border-bottom: 4px solid #d6151d;
}

.more__bold{
    font-weight: 500;
}

.form-check-input[type=checkbox]:checked+label:before, label.btn input[type=checkbox]:checked+label:before {
    -webkit-backface-visibility: visible!important;
    backface-visibility: visible!important;
}