<h3>Nowy formularz</h3>
<h3 style="font-weight: bold;">Dane kontaktowe:</h3>
<p>Imię: {name}</p>
<p>Imię: {last_name}</p>
<p>Adres e-mail: {email}</p>
<p>Telefon: {phone}</p>
<p>Przetwarzanie danych: {rodo}</p>
<p>Kontakt mailowy: {rodo2}</p>
<p>Kontakt telefoniczny: {rodo3}</p>



